.App {
    max-width: 50rem;
}

.ctf-form-field {
    padding: 1rem 0;
}

.ctf-form-field > label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    padding-bottom: .5rem;
}

.ctf-form-field input[type="text"] {
    padding: .5rem;
    border-radius: .25rem;
    border-color: #cccccc;
}

.ctf-extra-files {
    display: flex;
    flex-wrap: wrap;
}

.ctf-extra-files > p {
    width: 50%;
    max-width: 13rem;
    min-width: 8rem;
    padding: 0 1rem 1rem 0;
    margin: 0;
}

a.advancedToggle {
    cursor: pointer;
    text-decoration: none;
}

.name-field-wrapper {
    position: relative;
}

.name-field-status-indicator {
    position: absolute;
    right: 10px;
    top: 50px;
}

.name-field-status-indicator .dashicons-yes {
    color: #39e639;
}

.name-field-status-indicator .dashicons-no {
    color: #b31b1b;
}
